<% include partials/header %>

	<div class="container">

		<h3>School: </h3>
		<a href="<%= schoolName %>"><%= schoolName %></a>

		<% for(var i=0; i<departments.length; i++){ %>
			<h3><%= departments[i].departmentName %></h3>
			<% for(var j=0; j<departments[i].courses.length; j++){ %>
				<li><a href="/schools/<%= departments[i].courses[j].schoolName %>/<%=departments[i].courses[j].courseId%>"><%= departments[i].courses[j].courseName %></a></li>
			<% } %>
		<% } %>

	</div>

<% include partials/footer %>